.img{
    border-radius: 50%;
}
body{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}
.conteneur{
    display: flex;
}
.gauche{
    height: 90%;
    width: 25%;
    padding-left: 5%;
    background-color: rgb(225, 212, 193);
    border-radius: 18%;
}
.droite{
    height: 100%;
    width: 75%;
    padding-left: 5%;
}
.c1{
    color:rgb(198, 178, 147) ; 
}
.c2{
    color:rgb(198, 178, 147) ;
}
.c3{
    color:rgb(198, 178, 147) ; 
}
.c4{
    color:rgb(198, 178, 147) ;
}
h5{
    color:rgb(198, 178, 147) ;
}
