.img{
    border-radius: 50%;
    max-width: 150px;
    width: 100%;
    height: 200px;
    display: block;
    margin: 0 auto 20px auto;
    box-shadow: 0 0 20px white;
}
body{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    margin: 0;
    padding: 20px;
}
.conteneur{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}
.gauche{
    flex: 1;
    min-width: 250px;
    padding: 20px;
    background-color: rgb(225, 212, 193);
    border-radius: 18px;
    box-sizing: border-box;
}
.droite{
    flex: 3;
    min-width: 300px;
    padding: 20px 0;
}
.c1{
    color:rgb(198, 178, 147) ; 
}
.c2{
    color:rgb(198, 178, 147) ;
}
.c3{
    color:rgb(198, 178, 147) ; 
}
.c4{
    color:rgb(198, 178, 147) ;
}
h5{
    color:rgb(198, 178, 147) ;
}
.c5{
    color:rgb(198, 178, 147) ;
}
.c6{
    color:rgb(198, 178, 147) ;
}
h1{
    text-align: left;
    font-size: 2.5em;
    margin-top: 0;
}
@media  screen and (max-width: 992px) {
.conteneur{
    gap: 20px;
}
.gauche{
    padding: 15px;
}
.droite{
    padding: 15px;
}
h1{
    font-size: 2em;
}    
}


